.timer-container {
  text-align: center;
  background-color: #8b3a3a;
  padding: 30px;
  border-radius: 10px;
  border-radius: 25px;
  color: white;

  .modes button {
    background: transparent;
    color: white;
    margin: 0 10px;
    font-size: 1.2em;
  }

  .timer-display {
    font-size: 5em;
    margin: 20px 0;
  }

  .start-button {
    background-color: black;
    color: #e06c6c;
    padding: 10px 30px;
    font-size: 1.5em;
  }
}
.tabs-custom-bg {
  font-size: 16px;
  background-color: rgba(136, 136, 136, 0.25);
}

.tabs-custom-bg > a {
  font-size: 16px;
  text-wrap: nowrap;
}
